body
{
    background-color: rgb(2, 14, 47);
}

#banner
{
    background: rgba(116, 118, 168, 0.28);
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.main
{
    padding-top: 250px;
    margin: auto;
    text-align: center;
    color: aliceblue;
}
.menu
{
   color: aliceblue;
}
.menu--left
{
    float: left;
}
.menu--right
{
    float: right;
}

/*Below is the styling for the image carousel*/
button:focus
{
    outline: 0;
}
.carousel
{ 
    position: relative;
    height: 200px;
    width: 40%;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 5px
}

.carousel_image
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel_track-container
{
    height: 100%;
    position: relative;
}

.carousel_track
{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
}

.carousel_slide
{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel_button
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    font-size: 40px;
    color:rgba(247, 247, 247, 0.81);
}
.carousel_button img
{
    font-size: 20;
}

.carousel_button--left
{
    left: -0px;
    cursor: pointer;
}
.carousel_button--right
{
    right: 0px;
    cursor: pointer;
}

.carousel_nav
{
    display: flex;
    justify-content: center;
    padding: 5px 0;
    padding: 5px 0;
    
}
.carousel_indicator
{
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 0 15px;
    background: rgba(255, 255, 255, 0.17);
    margin:  15px;
    cursor: pointer;
    padding: 7px;
}
.carousel_indicator.current-slide
{
    background: rgba(255, 255, 255, 0.50);
}